{% extends 'main_base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load static %}


{% block part %}
<h2 class ="text-center"> Reset Password</h2>

<div class = "col-md-6 offset-md-3" style='padding-top:50px; text-align:center;'> 
	<form method ="POST" class="form-group">
		{% csrf_token %}
		{{ form.as_p }}
		{% comment %} {% csrf_token %}
		<div class="form-group">
			<div class="form-control">
		{{form|crispy}}
			</div>
		</div> {% endcomment %}

	  {% comment %} <div class="form-group">

	    <input type="text" class="form-control" placeholder="Enter Username" name = "username">

	  </div>
	  <div class="form-group">

	    <input type="password" class="form-control"  placeholder="Enter Password" name="password"> 
	  </div> {% endcomment %}
	 
	  <div style='padding-bottom:10px;'>
	  <button type="submit" class="btn btn-secondary">Send Confirmation Link</button>
	  </div>

	  


	</form>
	

</div>
			



{% endblock %}

